# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/.dockerignore @silencer-pl
/code/controllers/subsystem/atoms.dm @silencer-pl
/code/controllers/subsystem/mapping.dm @silencer-pl
/code/controllers/subsystem/sound.dm @silencer-pl
/code/controllers/subsystem/predships.dm @silencer-pl
/code/controllers/subsystem/quadtrees.dm @silencer-pl
/code/datums/quadtree.dm @silencer-pl
/code/datums/soundOutput.dm @silencer-pl
/code/game/cas_manager/ @silencer-pl
/code/game/machinery/computer/dropship_weapons.dm @silencer-pl
/code/game/sound.dm @silencer-pl
/code/game/world.dm @silencer-pl
/code/modules/mapping/reader.dm @silencer-pl
/code/modules/mapping/map_template.dm @silencer-pl
/code/modules/nightmare/ @silencer-pl
/tools/docker/ @silencer-pl
/Dockerfile @silencer-pl
/maps @silencer-pl
/code/datums/tutorial/ @silencer-pl
/maps/tutorial/ @silencer-pl

# MULTIPLE OWNERS
